openapi: 3.0.0

info:
  title: Cloudyy API
  version: 1.0.0
  description: An API specification for Cloudyy project

servers:
  - url: https://api.cloudyy.ru
    description: Production server
  - url: https://staging.api.cloudyy.ru
    description: Staging server
  - url: https://local.api.cloudyy.ru
    description: Local development server

security:
  - BearerAuth: []

components:
    securitySchemes:
        BearerAuth:
            type: http
            scheme: bearer
            bearerFormat: JWT

paths:
  /api/v1/user:
    get:
      summary: api/v1/user
      tags:
        - user
      responses:
        '401':
          description: 401 Unauthorized
          content:
            application/json:
              schema:
                type: object
        '403':
          description: 403 Forbidden
          content:
            application/json:
              schema:
                type: object
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                        format: email
                      name:
                        type: string
                      surname:
                        type: string
                      role:
                        type: string
    post:
      summary: api/v1/user
      tags:
        - user
      responses:
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                type: object
        '401':
          description: 401 Unauthorized
          content:
            application/json:
              schema:
                type: object
        '403':
          description: 403 Forbidden
          content:
            application/json:
              schema:
                type: object
        '409':
          description: 409 Conflict
          content:
            application/json:
              schema:
                type: object
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                        format: email
                      name:
                        type: string
                      surname:
                        type: string
                      role:
                        type: string
    patch:
      summary: api/v1/user
      tags:
        - user
      responses:
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                type: object
        '401':
          description: 401 Unauthorized
          content:
            application/json:
              schema:
                type: object
        '403':
          description: 403 Forbidden
          content:
            application/json:
              schema:
                type: object
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                        format: email
                      name:
                        type: string
                      surname:
                        type: string
                      role:
                        type: string
  /api/v1/user/101b7e3c-1762-4a0f-ae92-6f91111a8b04:
    get:
      summary: api/v1/user/{{user_id}}
      tags:
        - user
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                        format: email
                      name:
                        type: string
                      surname:
                        type: string
                      role:
                        type: string
        '401':
          description: 401 Unauthorized
          content:
            application/json:
              schema:
                type: object
        '403':
          description: 403 Forbidden
          content:
            application/json:
              schema:
                type: object
  /api/v1/invite:
    post:
      summary: api/v1/invite
      tags:
        - invite
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      email:
                        type: string
                        format: email
                      valid_until:
                        type: string
                        format: date-time
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                type: object
  /api/v1/auth/2fa:
    get:
      summary: api/v1/auth/2fa
      tags:
        - auth
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: 401 Unauthorized
          content:
            application/json:
              schema:
                type: object
  /api/v1/auth/2fa/request:
    get:
      summary: api/v1/auth/2fa/request
      tags:
        - auth
      responses:
        '200':
          description: 200 OK - Verify
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      action:
                        type: string
                      type:
                        type: string
                      id:
                        type: string
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                type: object
        '401':
          description: 401 Unauthorized
          content:
            application/json:
              schema:
                type: object
        '403':
          description: 403 Forbidden
          content:
            application/json:
              schema:
                type: object
        '409':
          description: 409 Conflict
          content:
            application/json:
              schema:
                type: object
  /api/v1/auth/2fa/verify:
    post:
      summary: api/v1/auth/2fa/verify
      tags:
        - auth
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      2fa_access_key:
                        type: string
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                type: object
        '401':
          description: 401 Unauthorized
          content:
            application/json:
              schema:
                type: object
        '403':
          description: 403 Forbidden
          content:
            application/json:
              schema:
                type: object
  /api/v1/auth/signup/self:
    post:
      summary: api/v1/auth/signup/self
      tags:
        - auth
      responses:
        '200':
          description: 200 OK - SMTP Enabled
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      confirmation_required:
                        type: boolean
                      auth_data:
                        nullable: true
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                type: object
        '409':
          description: 409 Confilict
          content:
            application/json:
              schema:
                type: object
  /api/v1/auth/signup/self/confirm:
    post:
      summary: api/v1/auth/signup/self/confirm
      tags:
        - auth
      responses:
        '200':
          description: 200 OK
          headers:
            Set-Cookie:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      access_token:
                        type: string
                      csrf_token:
                        type: string
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                type: object
  /api/v1/auth/signup/invite:
    post:
      summary: api/v1/auth/signup/invite
      tags:
        - auth
      responses:
        '200':
          description: 200 OK
          headers:
            Set-Cookie:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      access_token:
                        type: string
                      csrf_token:
                        type: string
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                type: object
        '409':
          description: 409 Confilict
          content:
            application/json:
              schema:
                type: object
  /api/v1/auth/signin:
    post:
      summary: api/v1/auth/signin
      tags:
        - auth
      responses:
        '200':
          description: 200 OK - No 2FA Confirm
          headers:
            Set-Cookie:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      2fa_required:
                        type: boolean
                      auth_data:
                        type: object
                        properties:
                          access_token:
                            type: string
                          expires_in:
                            type: integer
                          csrf_token:
                            type: string
                          user:
                            type: object
                            properties:
                              id:
                                type: string
                              email:
                                type: string
                                format: email
                              name:
                                type: string
                              surname:
                                type: string
                              role:
                                type: string
        default:
          description: 200 OK - 2FA Required
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      2fa_required:
                        type: boolean
                      auth_data:
                        type: object
                        properties:
                          access_token:
                            type: string
                          expires_in:
                            type: integer
                          csrf_token:
                            type: string
  /api/v1/auth/refresh:
    get:
      summary: api/v1/auth/refresh
      tags:
        - auth
      responses:
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      access_token:
                        type: string
                      expires_in:
                        type: integer
                      csrf_token:
                        type: string
  /api/v1/auth/logout:
    get:
      summary: api/v1/auth/logout
      tags:
        - auth
      responses:
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
  /api/v1/auth/2fa/password:
    patch:
      summary: api/v1/auth/2fa/password
      tags:
        - auth
      responses:
        default:
          description: 200 OK - No 2FA Required
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
  /api/v1/notifications:
    get:
      summary: api/v1/notifications
      tags:
        - notifications
      responses:
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                type: object
        '401':
          description: 401 Unauthorized
          content:
            application/json:
              schema:
                type: object
        '403':
          description: 403 Forbidden
          content:
            application/json:
              schema:
                type: object
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      unread_count:
                        type: integer
                      total_count:
                        type: integer
                      unread:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                            id:
                              type: string
                            timestamp:
                              type: string
                              format: date-time
                            role:
                              type: string
                            issuer:
                              type: object
                              properties:
                                id:
                                  type: string
                                email:
                                  type: string
                                  format: email
                                role:
                                  type: string
                                name:
                                  type: string
                                surname:
                                  type: string
                      read:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                            id:
                              type: string
                            timestamp:
                              type: string
                              format: date-time
                            issuer:
                              type: object
                              properties:
                                id:
                                  type: string
                                email:
                                  type: string
                                  format: email
                                role:
                                  type: string
                                name:
                                  type: string
                                surname:
                                  type: string
                            file:
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
    delete:
      summary: api/v1/notifications
      tags:
        - notifications
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      amount:
                        type: integer
        '401':
          description: 401 Unauthorized
          content:
            application/json:
              schema:
                type: object
        '403':
          description: 403 Forbidden
          content:
            application/json:
              schema:
                type: object
  /api/v1/storage/used:
    get:
      summary: api/v1/storage/used
      tags:
        - storage
      responses:
        '401':
          description: 401 Unauthorized
          content:
            application/json:
              schema:
                type: object
        '403':
          description: 403 Forbidden
          content:
            application/json:
              schema:
                type: object
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      used_storage:
                        type: integer
                      total_storage:
                        type: integer
  /api/v1/directory/root:
    get:
      summary: api/v1/directory/{{directory}}
      tags:
        - directory
      responses:
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                type: object
        '401':
          description: 401 Unauthorized
          content:
            application/json:
              schema:
                type: object
        '403':
          description: 403 Forbidden
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                type: object
        default:
          description: 200 OK - Root Directory
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      total:
                        type: integer
                      count:
                        type: integer
                      objects:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            version:
                              type: string
                            name:
                              type: string
                            size:
                              type: integer
                            favorite:
                              type: boolean
                            access_type:
                              type: string
                            access:
                              type: integer
                            type:
                              type: string
                            user:
                              type: object
                              properties:
                                id:
                                  type: string
                                email:
                                  type: string
                                  format: email
                                role:
                                  type: string
                                name:
                                  type: string
                                surname:
                                  type: string
                            updated_at:
                              type: string
                              format: date-time
                            created_at:
                              type: string
                              format: date-time
  /api/v1/directory/{directory}:
    patch:
      summary: api/v1/directory/{{directory}}
      tags:
        - directory
      responses:
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      id:
                        type: string
                      version:
                        type: string
                      name:
                        type: string
                      size:
                        type: integer
                      favorite:
                        type: boolean
                      access_type:
                        type: string
                      access:
                        type: integer
                      type:
                        type: string
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          email:
                            type: string
                            format: email
                          role:
                            type: string
                          name:
                            type: string
                          surname:
                            type: string
                      updated_at:
                        type: string
                        format: date-time
                      created_at:
                        type: string
                        format: date-time
    parameters:
      - name: directory
        in: path
        required: true
        schema:
          type: string
  /api/v1/directory/create:
    post:
      summary: api/v1/directory/create
      tags:
        - directory
      responses:
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      id:
                        type: string
                      version:
                        type: string
                      name:
                        type: string
                      size:
                        type: integer
                      favorite:
                        type: boolean
                      access_type:
                        type: string
                      access:
                        type: integer
                      type:
                        type: string
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          email:
                            type: string
                            format: email
                          role:
                            type: string
                          name:
                            type: string
                          surname:
                            type: string
                      updated_at:
                        type: string
                        format: date-time
                      created_at:
                        type: string
                        format: date-time
  /api/v1/trash/{directory}:
    get:
      summary: api/v1/trash/{{directory}}
      tags:
        - trash
      responses:
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                type: object
        '401':
          description: 401 Unauthorized
          content:
            application/json:
              schema:
                type: object
        '403':
          description: 403 Forbidden
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                type: object
        default:
          description: 200 OK - Root Directory
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      total:
                        type: integer
                      count:
                        type: integer
                      objects:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            version:
                              type: string
                            name:
                              type: string
                            size:
                              type: integer
                            favorite:
                              type: boolean
                            access_type:
                              type: string
                            access:
                              type: integer
                            type:
                              type: string
                            user:
                              type: object
                              properties:
                                id:
                                  type: string
                                email:
                                  type: string
                                  format: email
                                role:
                                  type: string
                                name:
                                  type: string
                                surname:
                                  type: string
                            updated_at:
                              type: string
                              format: date-time
                            created_at:
                              type: string
                              format: date-time
    parameters:
      - name: directory
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: api/v1/trash/{{directory}}
      tags:
        - trash
      responses:
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      id:
                        type: string
                      version:
                        type: string
                      name:
                        type: string
                      size:
                        type: integer
                      favorite:
                        type: boolean
                      access_type:
                        type: string
                      access:
                        type: integer
                      type:
                        type: string
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          email:
                            type: string
                            format: email
                          role:
                            type: string
                          name:
                            type: string
                          surname:
                            type: string
                      updated_at:
                        type: string
                        format: date-time
                      created_at:
                        type: string
                        format: date-time
  /api/v1/object/{id}:
    get:
      summary: api/v1/object/{{id}}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      tags:
        - object
      responses:
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      id:
                        type: string
                      version:
                        type: string
                      name:
                        type: string
                      size:
                        type: integer
                      favorite:
                        type: boolean
                      access_type:
                        type: string
                      access:
                        type: integer
                      type:
                        type: string
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          email:
                            type: string
                            format: email
                          role:
                            type: string
                          name:
                            type: string
                          surname:
                            type: string
                      updated_at:
                        type: string
                        format: date-time
                      created_at:
                        type: string
                        format: date-time
  /api/v1/admin/storage/quota:
    patch:
      summary: api/v1/admin/storage/quota
      tags:

        - admin
      responses:
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
  /api/v1/admin/user/invite:
    post:
      summary: api/v1/admin/user/invite
      tags:
        - admin
      responses:
        '409':
          description: 409 Conflict
          content:
            application/json:
              schema:
                type: object
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      invite_code:
                        type: string
  /api/v1/object/37a1ccbd-95d0-460e-8364-1345ec2c1adb/preview:
    get:
      summary: api/v1/object/{{id}}/preview
      tags:
        - object
      responses:
        '200':
          description: 200 OK
          headers:
            Content-Length:
              schema:
                type: integer
            Cache-Control:
              schema:
                type: string
        '401':
          description: 401 Unauthorized
          content:
            application/json:
              schema:
                type: object
        '403':
          description: 403 Forbidden
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                type: object
  /api/v1/object/6e6c2487-c01e-4262-bd85-224fbb5c0a1a/shares:
    get:
      summary: api/v1/object/{{id}}/shares
      tags:
        - object
      responses:
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
  /api/v1/object/{id}/access:
    get:
      summary: api/v1/object/{{id}}/access
      tags:
        - object
      responses:
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v1/object/{id}/discussion:
    get:
      summary: api/v1/object/{{id}}/discussion
      tags:
        - object
      responses:
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      count:
                        type: integer
                      responses:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            responses:
                              type: integer
                            updated_at:
                              type: string
                              format: date-time
                            created_at:
                              type: string
                              format: date-time
                            message:
                              type: string
                            user:
                              type: object
                              properties:
                                id:
                                  type: string
                                email:
                                  type: string
                                  format: email
                                role:
                                  type: string
                                name:
                                  type: string
                                surname:
                                  type: string
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v1/object/{id}/discussion/reply:
    post:
      summary: api/v1/object/{{id}}/discussion/reply
      tags:
        - object
      responses:
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      id:
                        type: string
                      responses:
                        type: integer
                      updated_at:
                        type: string
                        format: date-time
                      created_at:
                        type: string
                        format: date-time
                      message:
                        type: string
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          email:
                            type: string
                            format: email
                          role:
                            type: string
                          name:
                            type: string
                          surname:
                            type: string
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v1/object/{id}/share:
    post:
      summary: api/v1/object/{{id}}/share
      tags:
        - object
      responses:
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v1/object/download:
    post:
      summary: api/v1/object/download
      tags:
        - object
      responses:
        '200':
          description: 200 OK
          headers:
            Content-Disposition:
              schema:
                type: string
            Content-Length:
              schema:
                type: integer
            Cache-Control:
              schema:
                type: string
        '401':
          description: 401 Unauthorized
          content:
            application/json:
              schema:
                type: object
        '403':
          description: 403 Forbidden
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                type: object
  /api/v1/file/favorite:
    post:
      summary: api/v1/object/favorite
      tags:
        - object
      responses:
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      count:
                        type: integer
                      objects:
                        type: array
                        items:
                          type: string
  /api/v1/file/unfavorite:
    post:
      summary: api/v1/object/unfavorite
      tags:
        - object
      responses:
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      count:
                        type: integer
                      objects:
                        type: array
                        items:
                          type: string
  /api/v1/object/delete:
    post:
      summary: api/v1/object/trash
      tags:
        - object
      responses:
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      count:
                        type: integer
                      objects:
                        type: array
                        items:
                          type: string
  /api/v1/object/restore:
    post:
      summary: api/v1/object/restore
      tags:
        - object
      responses:
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      count:
                        type: integer
                      objects:
                        type: array
                        items:
                          type: string
  /api/v1/object/move:
    post:
      summary: api/v1/object/move
      tags:
        - object
      responses:
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      count:
                        type: integer
                      destination:
                        type: string
                      objects:
                        type: array
                        items:
                          type: string
  /api/v1/object/copy:
    post:
      summary: api/v1/object/copy
      tags:
        - object
      responses:
        '507':
          description: 507 Insufficient Storage
          content:
            application/json:
              schema:
                type: object
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      count:
                        type: integer
                      destination:
                        type: string
                      objects:
                        type: array
                        items:
                          type: string
  /api/v1/object/upload:
    post:
      summary: api/v1/object/upload
      tags:
        - object
      responses:
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      count:
                        type: integer
                      destination:
                        type: string
                      objects:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            type:
                              type: string
                            size:
                              type: integer
                            updated_at:
                              type: string
                              format: date-time
                            created_at:
                              type: string
                              format: date-time
                            access_type:
                              type: string
                            favorite:
                              type: boolean
                            user:
                              type: object
                              properties:
                                id:
                                  type: string
                                email:
                                  type: string
                                  format: email
                                role:
                                  type: string
                                name:
                                  type: string
                                surname:
                                  type: string
  /api/v1/version/{id}:
    delete:
      summary: api/v1/version/{{id}}
      tags:
        - version
      responses:
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      id:
                        type: string
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v1/share/{id}:
    delete:
      summary: api/v1/share/{{id}}
      tags:
        - share
      responses:
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      id:
                        type: string
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: api/v1/share/{{id}}
      tags:
        - share
      responses:
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
  /api/v1/discussion/{id}:
    patch:
      summary: api/v1/discussion/{{id}}
      tags:
        - discussion
      responses:
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      id:
                        type: string
                      responses:
                        type: integer
                      updated_at:
                        type: string
                        format: date-time
                      created_at:
                        type: string
                        format: date-time
                      message:
                        type: string
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          email:
                            type: string
                            format: email
                          role:
                            type: string
                          name:
                            type: string
                          surname:
                            type: string
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v1/audit:
    get:
      summary: api/v1/audit
      tags:
        - audit
      responses:
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
  /api/v1/audit/export:
    get:
      summary: api/v1/audit/export
      tags:
        - audit
      responses:
        default:
          description: 200 OK
          headers:
            Content-Disposition:
              schema:
                type: string
  /api/v1/admin/auth/confirm:
    post:
      summary: api/v1/admin/auth/confirm
      tags:
        - admin
      responses:
        '400':
          description: 404 Not Found
          content:
            application/json:
              schema:
                type: object
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
  /api/v1/admin/signup:
    post:
      summary: api/v1/admin/auth/signup
      tags:
        - admin
      responses:
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                type: object
        default:
          description: 200 OK
          headers:
            Set-Cookie:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      access_token:
                        type: string
                      expires_in:
                        type: integer
                      csrf_token:
                        type: string
  /api/v1/admin/security/password:
    patch:
      summary: api/v1/admin/security/password
      tags:
        - admin
      responses:
        default:
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      length:
                        type: integer
                      capitalisation:
                        type: boolean
                      numerics:
                        type: boolean
                      special:
                        type: boolean
  /api/v1/system:
    get:
      summary: api/v1/system
      tags:
        - system
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_data:
                    type: object
                    properties:
                      request_id:
                        type: string
                      issuer_id:
                        type: string
                  payload:
                    type: object
                    properties:
                      frontend_url:
                        type: string
                      default_language:
                        type: string
                      smtp_enabled:
                        type: boolean
                      force_twofactor:
                        type: boolean
                      allow_self_registration:
                        type: boolean

